@font-face {
  font-family: "DecoBox";
  src: url("../assets/fonts/Cafe24Decobox.ttf");
}

@font-face {
  font-family: "NanumSquare";
  src: url("../assets/fonts/NanumSquareR.ttf");
}

@font-face {
  font-family: "Sebang";
  src: url("../assets/fonts/SebangGothic.ttf");
}
