#profile {
  width: 1000px;
  height: 500px;
  display: block;
  position: relative;
  margin: 60px auto 50px;
}

#profileWrap {
  margin-top: 16px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

#profileImg {
  width: 220px;
  height: 300px;
  float: left;
}

#description {
  width: fit-content;
  float: left;
  margin-left: 60px;
}

#description ul {
  margin: 0;
  padding-inline-start: 0;
  font-size: 18px;
  font-family: "NanumSquare";
}

#description li {
  margin-bottom: 12px;
}

#description ul ul li {
  font-size: 18px;
  font-family: "NanumSquare";
  list-style-type: circle;
  list-style-position: inside;
}
